          <label for="first-name">First Name</label>
          <input type="text" id="first-name" v-model="firstName"/>          
        </div>
        <div class="form-field">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" v-model="lastName"/>   />
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email" v-model="email"/>   />
  "ticket-quantity">Ticket Quantity</label>
          <select id="ticket-quantity">
            <option>1</option>      </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for=
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-field">
          <legend>Ticket Type</legend>
          <div>
            <input type="radio" id="general" value="general">
            <label for="general">General Admission</label>
          </div>
          <div>
            <input type="radio" id="vip" value="vip">
